<?xml version="1.0" encoding="UTF-8" ?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="tests/autoload.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         convertDeprecationsToExceptions="true"
         executionOrder="random"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false"
         verbose="true"
         colors="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">Commands</directory>
            <directory suffix=".php">core</directory>
            <directory suffix=".php">includes</directory>
            <directory suffix=".php">models</directory>
            <directory suffix=".php">modules</directory>
            <directory suffix=".php">src</directory>
            <directory suffix=".php">plugins</directory>
            <directory suffix=".php">templates</directory>
        </include>

        <exclude>
            <file>modules/WellsDesign/Import/cron.php</file>
            <file>modules/Workover/Import/cron.php</file>
            <file>modules/Workover/config.php</file>
        </exclude>

        <report>
            <text outputFile="php://stdout" showUncoveredFiles="false" showOnlySummary="true"/>
            <html outputDirectory="build/phpunit-html" lowUpperBound="50" highLowerBound="75"/>
            <xml outputDirectory="build/phpunit-junit"/>
            <clover outputFile="build/phpunit-clover.xml"/>
        </report>
    </coverage>

    <testsuites>
        <testsuite name="PHPUnit">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <junit outputFile="build/phpunit-junit.xml"/>
    </logging>
</phpunit>
